<HTML>
<HEAD>
<link rel="stylesheet" href="./static/lhr.css">
</HEAD>
<BODY>
<div>
	<h1> Arrivals </h1>
	<img id="mainimg" src="static/landing.jpg"></img>
<table class="arrivals">
<tr class="trheader">
<td> Scheduled </td>
<td> Flight </td>
<td> Arriving From </td>
<td> Airline </td>
<td> Terminal </td>

<td> Status </td>

</tr>
<tr>
<td> 10:15 </td>
<td> FL123 </td>
<td> Knock  </td>
<td> Aer Lingus </td>
<td> 1 </td>
<td class="green"> Arrived </td>
<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
</tr>
<tr>
<td> 10:20 </td>
<td> FL124 </td>
<td> Edinburgh  </td>
<td> British Airways </td>
<td> 1 </td>
<td class="green"> Arrived </td>
<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
</tr>
<tr>
<td> 10:25 </td>
<td> FL126 </td>
<td> Abu Dhabi  </td>
<td> Emirates</td>
<td> 1 </td>
<td class="green"> Arrived </td>
<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
</tr>
<tr>
	<td> 10:15 </td>
	<td> FL123 </td>
	<td> Knock  </td>
	<td> Aer Lingus </td>
	<td> 1 </td>
	<td class="green"> Arrived </td>
	<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
	</tr>
	<tr>
	<td> 10:20 </td>
	<td> FL124 </td>
	<td> Edinburgh  </td>
	<td> British Airways </td>
	<td> 1 </td>
	<td class="green"> Arrived </td>
	<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
	</tr>
	<tr>
	<td> 10:25 </td>
	<td> FL126 </td>
	<td> Abu Dhabi  </td>
	<td> Emirates</td>
	<td> 1 </td>
	<td class="green"> Arrived </td>
	<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
	</tr>
	<tr>
		<td> 10:15 </td>
		<td> FL123 </td>
		<td> Knock  </td>
		<td> Aer Lingus </td>
		<td> 1 </td>
		<td class="green"> Arrived </td>
		<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
		</tr>
		<tr>
		<td> 10:20 </td>
		<td> FL124 </td>
		<td> Edinburgh  </td>
		<td> British Airways </td>
		<td> 1 </td>
		<td class="green"> Arrived </td>
		<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
		</tr>
		<tr>
		<td> 10:25 </td>
		<td> FL126 </td>
		<td> Abu Dhabi  </td>
		<td> Emirates</td>
		<td> 1 </td>
		<td class="green"> Arrived </td>
		<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
		</tr>
		<tr>
			<td> 10:15 </td>
			<td> FL123 </td>
			<td> Knock  </td>
			<td> Aer Lingus </td>
			<td> 1 </td>
			<td class="green"> Arrived </td>
			<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
			</tr>
			<tr>
			<td> 10:20 </td>
			<td> FL124 </td>
			<td> Edinburgh  </td>
			<td> British Airways </td>
			<td> 1 </td>
			<td class="green"> Arrived </td>
			<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
			</tr>
			<tr>
			<td> 10:25 </td>
			<td> FL126 </td>
			<td> Abu Dhabi  </td>
			<td> Emirates</td>
			<td> 1 </td>
			<td class="green"> Arrived </td>
			<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
			</tr>
			<tr>
				<td> 10:15 </td>
				<td> FL123 </td>
				<td> Knock  </td>
				<td> Aer Lingus </td>
				<td> 1 </td>
				<td class="green"> Arrived </td>
				<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
				</tr>
				<tr>
				<td> 10:20 </td>
				<td> FL124 </td>
				<td> Edinburgh  </td>
				<td> British Airways </td>
				<td> 1 </td>
				<td class="green"> Arrived </td>
				<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
				</tr>
				<tr>
				<td> 10:25 </td>
				<td> FL126 </td>
				<td> Abu Dhabi  </td>
				<td> Emirates</td>
				<td> 1 </td>
				<td class="green"> Arrived </td>
				<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
				</tr>
				<tr>
					<td> 10:15 </td>
					<td> FL123 </td>
					<td> Knock  </td>
					<td> Aer Lingus </td>
					<td> 1 </td>
					<td class="green"> Arrived </td>
					<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
					</tr>
					<tr>
					<td> 10:20 </td>
					<td> FL124 </td>
					<td> Edinburgh  </td>
					<td> British Airways </td>
					<td> 1 </td>
					<td class="green"> Arrived </td>
					<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
					</tr>
					<tr>
					<td> 10:25 </td>
					<td> FL126 </td>
					<td> Abu Dhabi  </td>
					<td> Emirates</td>
					<td> 1 </td>
					<td class="green"> Arrived </td>
					<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
					</tr>
					<tr>
						<td> 10:15 </td>
						<td> FL123 </td>
						<td> Knock  </td>
						<td> Aer Lingus </td>
						<td> 1 </td>
						<td class="green"> Arrived </td>
						<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
						</tr>
						<tr>
						<td> 10:20 </td>
						<td> FL124 </td>
						<td> Edinburgh  </td>
						<td> British Airways </td>
						<td> 1 </td>
						<td class="green"> Arrived </td>
						<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
						</tr>
						<tr>
						<td> 10:25 </td>
						<td> FL126 </td>
						<td> Abu Dhabi  </td>
						<td> Emirates</td>
						<td> 1 </td>
						<td class="green"> Arrived </td>
						<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
						</tr>
						<tr>
							<td> 10:15 </td>
							<td> FL123 </td>
							<td> Knock  </td>
							<td> Aer Lingus </td>
							<td> 1 </td>
							<td class="green"> Arrived </td>
							<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
							</tr>
							<tr>
							<td> 10:20 </td>
							<td> FL124 </td>
							<td> Edinburgh  </td>
							<td> British Airways </td>
							<td> 1 </td>
							<td class="green"> Arrived </td>
							<td> <img class="tailfin" src="static/ba.jpg"></img>  </td>
							</tr>
							<tr>
							<td> 10:25 </td>
							<td> FL126 </td>
							<td> Abu Dhabi  </td>
							<td> Emirates</td>
							<td> 1 </td>
							<td class="green"> Arrived </td>
							<td> <img class="tailfin" src="static/emirates.jpg"> </img>  </td>
							</tr>
							<tr>
								<td> 10:15 </td>
								<td> FL123 </td>
								<td> Knock  </td>
								<td> Aer Lingus </td>
								<td> 1 </td>
								<td class="green"> Arrived </td>
								<td> <img class="tailfin" src="static/aerlingus.jpg"></img>  </td>
								</tr>
																																																																	
</table>
<p>Running on {{ ansible_host }} / {{ ansible_hostname }} / {{ ansible_default_ipv4.address }}</p>
<p>Last Ansible run: {{ ansible_date_time.date }} @ {{ ansible_date_time.time }}</p>
</BODY>
</HTML>
